@charset "UTF-8";

article {
    display: flex;
}

#primeira {
    background-image: url('../img/image-1-contato.png');
    height: 405px;
}

#titulo1 {
    position: absolute;
    width: 419px;
    height: 170px;
    left: 122px;
    top: 214px;
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

#contato-img {
    position: absolute;
    width: 350px;
    height: 771px;
    left: 127px;
    top: 667px;
    
    background: url(../img/image-2-contato.png);
    border-radius: 20px;
}

#contato {
border-radius: 10px;
position: absolute;
width: 820px;
height: 766px;
left: 492px;
top: 672px;
border: 1px solid #FFA000;
border-radius: 20px;
}

#contato h2 {
position: absolute;
left: 33px;
top: 64px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #FFC107;
}

#input-nome {
position: absolute;
left: 37px;
right: 33px;
top: 21.48%;
bottom: 70.88%;
border: 1px solid #FFA000;
border-radius: 7px;
}

#input-email {
position: absolute;
left: 37px;
right: 33px;
top: 32.7%;
bottom: 59.67%;
border: 1px solid #FFA000;
border-radius: 7px;
}

textarea {
position: absolute;
left: 37px;
right: 33px;
top: 43.68%;
bottom: 130px;
border: 1px solid #FFA000;
border-radius: 7px;
resize: none;
}

button {
position: absolute;
left: 38px;
right: 80%;
top: 657px;
bottom: 60px;
background: #FFC107;
color: #FFFFFF;
border-radius: 50px;
border-style: none;
cursor: pointer;
}

footer {
position: absolute;
width: 97%;
top: 1571px;
}