@charset "UTF-8";

#um {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 160, 0, 0.3), rgba(255, 160, 0, 0.3)), url('../img/home-img-1.png');
    height: 638.18px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    font-size: 4.2em;
    font-weight: bolder;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

h1#titulo1 {
    position: absolute;
    left: 969px;
    top: 150px;

}

h1#titulo2 {
    color: #FFA000;
    text-align: center;
    font-size: 3.5em;
    margin-top: 80px;
    margin-bottom: 80px;
}

#dois {
    display: flex;
    height: 500px;
    justify-content: space-around;
    margin-bottom: 100px;
}

#dois > div > p {
    text-align: center;
}

p.nome {
    color: black;
}

.nome {
    font-weight: bolder;
    font-size: 1.5em;
    margin-top: 10px;
}

.botao {
    background-color: #176902;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 85px;
    margin-right: 85px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top: 10px;
}

#tres {
    position: relative;
    background: linear-gradient(0deg, rgba(255, 193, 7, 0.4), rgba(255, 193, 7, 0.4)), url(../img/home-img-2.png);
      height: 772px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#tres > p {
    position: absolute;
    width: 424px;
    height: 333px;
    left: 123px;
    top: 330px;
    font-size: 1.5em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tres > h1,p {
    color: white;
    justify-content: left;
}

h1#titulo3 {
    position: absolute;
    left: 122px;
    top: 160px;
}
